body {
  font-family: Arial;
  background: #f8f9fa;
  padding: 30px;
}

.timeline-box {
  background: white;
  padding: 20px 30px;
  border: 1px solid #ccc;
  width: 600px;
  margin: auto;
  border-radius: 8px;
}

.timeline-box h2 {
  margin-bottom: 20px;
}

.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.timeline-item .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 15px;
}

.timeline-item .text {
  flex: 1;
}

.timeline-item .date {
  color: #F97316;
  font-weight: Regular;
}

.timeline-item.orange .circle {
  background-color: #ff9800;
}

.timeline-item.gray .circle {
  background-color: #bbb;
}

.timeline-item .line {
  border: 0px solid #E5E7EB;
  background: rgba(249, 115, 22, 0.20);
}
